/* ------CSS Content------------------
	  1. Fonts
	  2. Reset CSS
	  3. Header
	  4. Attendees Section
	  5. Host Section
	  6. Item Description Section
	  7. Testing Script section
		
----------------------------------*/


/* 1. Fonts */
@font-face {
	font-family: "Avenir-Black";
  src: url("../fonts/Avenir-Black.eot"); /* IE9 Compat Modes */
  src: url("../fonts/Avenir-Black.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../fonts/Avenir-Black.otf") format("opentype"), /* Open Type Font */
    url("../fonts/Avenir-Black.svg") format("svg"), /* Legacy iOS */
    url("../fonts/Avenir-Black.ttf") format("truetype"), /* Safari, Android, iOS */
    url("../fonts/Avenir-Black.woff") format("woff"), /* Modern Browsers */
    url("../fonts/Avenir-Black.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Avenir-Book";
  src: url("../fonts/Avenir-Book.eot"); /* IE9 Compat Modes */
  src: url("../fonts/Avenir-Book.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../fonts/Avenir-Book.otf") format("opentype"), /* Open Type Font */
    url("../fonts/Avenir-Book.svg") format("svg"), /* Legacy iOS */
    url("../fonts/Avenir-Book.ttf") format("truetype"), /* Safari, Android, iOS */
    url("../fonts/Avenir-Book.woff") format("woff"), /* Modern Browsers */
    url("../fonts/Avenir-Book.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Avenir-Medium";
  src: url("../fonts/Avenir-Medium.eot"); /* IE9 Compat Modes */
  src: url("../fonts/Avenir-Medium.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../fonts/Avenir-Medium.otf") format("opentype"), /* Open Type Font */
    url("../fonts/Avenir-Medium.svg") format("svg"), /* Legacy iOS */
    url("../fonts/Avenir-Medium.ttf") format("truetype"), /* Safari, Android, iOS */
    url("../fonts/Avenir-Medium-webfont.woff") format("woff"), /* Modern Browsers */
    url("../fonts/Avenir-Medium.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: "Avenir-Heavy";
  src: url("../fonts/Avenir-Heavy.eot"); /* IE9 Compat Modes */
  src: url("../fonts/Avenir-Heavy.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../fonts/Avenir-Heavy.otf") format("opentype"), /* Open Type Font */
    url("../fonts/Avenir-Heavy.svg") format("svg"), /* Legacy iOS */
    url("../fonts/Avenir-Heavy.ttf") format("truetype"), /* Safari, Android, iOS */
    url("../fonts/Avenir-Heavy.woff") format("woff"), /* Modern Browsers */
    url("../fonts/Avenir-Heavy.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}


/* 2. Reset CSS */
body{
	background:#000;
	padding: 0px;
	position: relative;
	height:100vh;
	overflow:hidden;
}
#root, .App{
	height:100%;
}
.container{
    width: 98% !important;
    padding: 0;
	max-width: 98%;
}
@media (max-width:1600px){
.container, .header, .host-script-section{
    width: 98% !important;
    padding: 0;
	max-width: 1400px;
}
}
.border-right {
    border-right: 1px solid #9b51e0 !important;
}
.border-left {
    border-left: 1px solid #9b51e0 !important;
}
.pr-20{
	padding-right:20px;
}
.btn-primary{
	background: #9b51e0;
    background-color: #9b51e0 !important;
	border-color: #9b51e0 !important;
	font-family: Avenir-Book;
    font-size: 14px;
	border-radius: 50px;
	padding:7px 20px;
}
img{
	max-width:100%;
}
a.bg-primary:hover, a.bg-primary:focus, button.bg-primary:hover, button.bg-primary:focus {
    background-color: #9b51e0 !important;
}
.btn-primary:hover {
    color: #fff;
    background-color: #9b51e0;
    border-color: #9b51e0;
}
.btn-primary:focus, .btn-primary.focus {
    box-shadow: none !important;
}
.btn-outline-secondary:not(:disabled):not(.disabled):active, .btn-outline-secondary:not(:disabled):not(.disabled).active, .show > .btn-outline-secondary.dropdown-toggle {
    color: #fff;
    background-color: #9b51e0;
    border-color: #9b51e0;
}
.btn-outline-secondary{
    color: #fff;
    border-color: #9b51e0;
    font-family: Avenir-Medium;
    letter-spacing: 0.5px;
    font-size: 14px;
    border-radius: 50px;
}
.btn-outline-secondary:hover {
    color: #fff;
    background-color: #9b51e0;
    border-color: #9b51e0;
}
.btn-outline-secondary:not(:disabled):not(.disabled):active:focus, .btn-outline-secondary:not(:disabled):not(.disabled).active:focus, .show > .btn-outline-secondary.dropdown-toggle:focus {
    box-shadow: none;
}
.btn-outline-secondary:focus, .btn-outline-secondary.focus {
    box-shadow: none;
}
.bg-gray{
	background: #2F2F2F;
}
.bg-black{
	background: #000;
}
.rounded {
    border-radius: 10px !important;
}
.top-rounded {
    border-radius: 10px 10px 0 0!important;
}
.bottom-rounded {
    border-radius:0 0 10px 10px !important;
}
.one-gutters {
    margin-right: 0;
    margin-left: 0;
}
.one-gutters > .col, 
.one-gutters > [class*="col-"] {
    padding: 1px;
}
.four-gutters {
    margin-right: -4px;
    margin-left: -4px;
}
.four-gutters > .col, 
.four-gutters > [class*="col-"] {
    padding-left: 4px;
    padding-right: 4px;
}
h3.main-heading{
	font-family: 'Avenir-Black';
	font-size: 25px;
    color: #fff;
	margin: 0;
}
h3.main-heading span{
    font-family: Avenir-Book;
    font-size: 20px;
    color: #D8D8D8;
}
.logout-btn{
    right: 18px;
    background: transparent;
    color: #fff;
    border: none;
    outline: none;
    top: -6px;
}
.logout-btn:focus{
	border: none;
    outline: none;
}
.second-heading{
	font-family: Avenir-Heavy;
	font-size: 25px;
    color: #fff;
	margin: 0;
}
.zindex-5{
	z-index:5;
}
.w-90{
	width:90%;
}
.mw-75{
	max-width:75%;
}
.w-866{
	max-width: 866px;
}
.mt--1{
	margin-top:-1px;
}
.h53{
	height:53px;
}
.display-grid-auto-4{
	display:grid;
	display:-ms-grid;
	grid-template-columns: auto auto auto auto;
}
@media (max-width:768px){
	.mx-xs-auto{
		margin-left:auto !important;
		margin-right:auto !important;
	}
	.py-xs-1{
		padding-top:10px !important;
		padding-bottom:10px !important;
	}
}
@media (min-width:1920px){
	.h-lg-100{
		height:100%;
	}
}
@media (min-width:1200px){
	.max-width-300{
		max-width:300px;
	}
}
.font-size-16{
	font-size:16px !important;
}
.flex-direction-column{
	flex-direction:column;
}






/* 3. Header */
.logo img{
	width:52px;
}
/*.header{
    border-radius: 10px;
    width: 100%;
    height: auto;
    padding: 10px 0px;
	position: relative;
    z-index: 3;
}*/
.header{
	border-radius: 10px;
    width: 98%;
    height: auto;
    padding: 10px 0px;
    z-index: 3;
	max-height:85px;
	height:85px;
    left: 0;
    right: 0;
    margin: auto;
	margin-top: 10px !important;
}

.time span{
	color:#fff;
	font-family: Avenir-Medium;
	font-size: 16px;
}
.time span:nth-child(1){
	border-right: 1px solid #9b51e0;
    padding-right: 20px;
}
.time span:nth-child(2){
	padding-left: 20px;
}
@media (max-width:900px){
.time span{
    width: 100%;
    display: block;
}
.time span:nth-child(1){
	border-right: 0;
    padding-right: 0px;
}
.time span:nth-child(2){
	padding-left: 0px;
}
}
.mic-icon{
	width:24px;
	    margin-left: 20px;
}


/* 4. Attendees Section */
#subscribers-list .newcss{
	margin:1px;
}
.section.attendees{
	margin-top: 105px !important;
}
.section.attendees .title{
    font-family: 'Avenir-Black';
    font-size: 16px;
    color: #fff;
    font-weight: normal;
    margin: 0;
}
.section.attendees .title  span{
    font-family: Avenir-Medium;
}
.video-holder{
	width: 100%;
	position:relative;
	height:100%;
	overflow: hidden;
}
.popup-added .att-details{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
	    align-items: flex-end;
}
.popup-added .att-details .att-name, 
.popup-added .att-details .vid-icons{
    position: relative;
	width: auto;
	right: auto;
    bottom: auto;
	left:auto;
}
.popup-added .att-details .vid-icons{
    position: relative;
    right: auto;
    bottom: auto;
    width: 200px;
    background: rgba(255,255,255,0.9);
    border-radius: 10px;
    left: 25px;
    height: 50px;
	    display: flex;
    align-items: center;
    justify-content: center;
}
.kick-out{
	display:none;
}
.popup-added .kick-out{
	display:block;
	font-family: Avenir-Medium;
    font-size: 16px;
    background: rgba(0,0,0,0.5);
    padding: 20px 15px;
    color: #fff;
	    border-radius: 10px;
}
.popup-added .kick-out div div span:nth-child(1){
    font-family: Avenir-Medium;
    font-size: 20px;
	    display: block;
}
.kick-out a{
font-size: 18px;
    font-family: Avenir-Medium;
}
.popup-added .kick-out div div span:nth-child(2){
    font-family: Avenir-Medium;
    font-size: 16px;
	    display: block;
}
.video-holder.popup-added .att-details .icon-appearance{
    width: 35px;
    height: 35px;
    background-size: 20px;
}
.popup-added .att-details .att-name{
	font-family: Avenir-Medium;
    font-size: 16px;
    position: relative;
    bottom: 0px;
    left: inherit;
	    right: 30px;
    width: 200px;
    background: rgba(0,0,0,0.5);
    border-radius: 10px;
    padding: 20px 15px;
    color: #fff;
}
.video-holder.popup-added .att-details {
    position: absolute;
    bottom: 50px;
    background: transparent;
    width: 100%;
    height: auto !important;
    border-radius: 0;
}
.popup-added .att-details {
    position: absolute;
    bottom: 50px;
    background: transparent;
    width: 100%;
    height: auto !important;
    border-radius: 0;
}

.video-holder video{
	width: 100%;
	    border-radius: 10px;
		    outline: 0;
}
.video-holder .hand-icon{
    background: url(../images/hand-icon.png);
    width: 52px;
    background-size: cover;
    height: 52px;
    float: left;
    top: 6px;
    left: 2px;
	cursor: pointer;
}
.video-holder .mute-icon{
    font-size: 16px;
    top: 10px;
    right: 10px;
    color: #fff;
    display: flex;
    text-decoration: none;
    background: #9b51e0;
    padding: 8px;
    border-radius: 55px;
	width: 32px;
    height: 32px;
}

.video-holder .att-details{
	position: absolute;
    bottom: 0;
    background: #fff;
    width: 100%;
    height: 25px !important;
	border-radius: 0 0 7px 7px;
}
.video-holder .att-name{
    font-family: Avenir-Heavy;
    color: #000;
    font-size: 16px;
    position: absolute;
    bottom: 1px;
    left: 15px;
}
.vid-icons{
	position: absolute;
    right: 10px;
    bottom: 30px;
}
.video-holder .att-details .icon-appearance, 
.attendee-list .icon-appearance{
    background: #fff url(../images/icon1.png);
    width: 22px;
    height: 22px;
    background-size: 13px;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 20px;
    padding: 2px;
    float: left;
	cursor:pointer;
}
.video-holder .att-details .icon-aroma, 
.attendee-list .icon-aroma{
	background: #fff url(../images/icon2.png);
    width: 22px;
    height: 22px;
    background-size: 13px;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 20px;
    padding: 2px;
    float: left;
	margin-left: 5px;
	cursor:pointer;
}
.video-holder .att-details .icon-palate, 
.attendee-list .icon-palate{
	background: #fff url(../images/icon3.png);
    width: 22px;
    height: 22px;
    background-size: 13px;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 20px;
    padding: 2px;
    float: left;
	margin-left: 5px;
	cursor:pointer;
}
.video-holder .att-details .icon-score, 
.attendee-list .icon-score{
	background: #fff url(../images/icon4.png);
    width: 22px;
    height: 22px;
    background-size: 13px;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 20px;
    padding: 2px;
    float: left;
	margin-left: 5px;
	cursor:pointer;
}


.close-model-btn{
	margin: 20px;
    color: #964DD9;
    z-index: 4;
    text-shadow: none;
    opacity: 1;
    font-size: 36px;
    line-height: 20px;
    padding: 0 !important;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 26px;
    height: 26px;
}
.close-model-btn:hover{
	text-decoration:none;
	color:#964DD9 !important;
}
.clone-guest-video{
	flex-grow: 1;
}
#guest-video a:hover, 
#guest-video button:hover{
	text-decoration:none;
	color:#964DD9 !important;
}
.eject-this{
    float: right;
    z-index: 4;
    margin: 10px;
    color: #fff;
    font-family: Avenir-Book;
        font-size: 14px;
    line-height: 24px;
}
.eject-this:focus,
.eject-this:active,
.eject-this:hover{
text-decoration:none;
color: #fff;
}
.eject-this img{
	width: 20px;
    margin-left: 10px;
}
.popup-removed .eject-popup, 
.popup-removed .guest-video-footer{
	display:none;
}
.popup-removed .popup-added .eject-popup, 
.popup-removed .popup-added .guest-video-footer{
	display:block !important;
}
.popup-added .hand-icon{
display:none;
}
.popup-added{
    
    position: fixed !important;
    left: 0;
    margin: auto;
    right: 0;
	width: 90%;
    max-width: 1024px;
    height: auto !important;
    z-index: 9;
	    top: 5%;
		    display: flex;
    flex-direction: column;
    justify-content: center;
}
.popup-added::before{
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0,0,0,1);
    width: 100%;
    height: 100%;
}
.eject-popup, .zoom-box, .guest-video-footer{
	width:100%;
	float:left;
    z-index: 5;
    position: relative;
}
.zoom-box, .zoom-box .video-streams{
	height:100%;
}

.eject-popup .close-model-btn{
    margin: 10px;
    color: #964DD9;
    z-index: 4;
    text-shadow: none;
    opacity: 1;
    font-size: 30px;
    line-height: 20px;
    padding: 0 !important;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15px;
    height: 20px;
}
.guest-video-footer{
	position: relative;
    bottom: 6px;
    left: 0;
    width: 100%;
    padding: 10px 0;
}
.conversations a{
	color: #fff;
    font-family: Avenir-Book;
    font-size: 14px;
    margin-right: 15px;
	    float: left;
}
.conversations a img{
    margin-right: 10px;
    width: 20px;
}


/*----detail button popup----*/
.carousel-indicators{
	
}
#show-details .carousel-indicators li {
    box-sizing: content-box;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    margin-right: 3px;
    margin-left: 3px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #777;
    background-clip: padding-box;
    border-top: 0;
    border-bottom: 0;
    opacity: 1;
    transition: opacity 0.6s ease;
}
#show-details .carousel-indicators li.active{
	background-color:#964DD9;
}
#show-details .modal-content{
	padding: 15px;
    background: #000;
}
.content-scroll{
	max-height:500px;
}

.content-scroll::-webkit-scrollbar {
  width: 10px;
}


.content-scroll::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 

.content-scroll::-webkit-scrollbar-thumb {
  background: #888; 
}


.content-scroll::-webkit-scrollbar-thumb:hover {
  background: #555; 
}



/* 5. Host Section */
.host-script-section{
	bottom: 10px;
    left: 0;
        width: 98%;
    margin: auto;
    right: 0;
	    display: grid;
    grid-template-columns: 380px 1fr;
    grid-column-gap: 8px;
	
}
.host-section video{
    width: 100%;
    border-radius: 10px;
}
.host-header>img{
    width: 20px;
    margin: 0 12px;
    cursor: pointer;
}
@media (max-width:1200px){
.host-header>img {
    width: 18px;
    margin: 0 6px;
    cursor: pointer;
}
}
.next-btn{
	width:20px;
	float: right;
}


/* 6. Item Description Section */
.item-name{
	font-family: Avenir-Book;
	font-size:16px;
	color:#fff;
	margin:0;
}
.item-description .list-info{
    margin: 5px 0;
}
.item-description .list-info li{
    color: #fff;
    display: block;
    font-size: 14px;
    font-family: Avenir-Book;
    overflow: hidden;
    float: left;
    width: 100%;
	margin: 2px 0;
}

.item-description .list-info li span:first-child{
	font-family: Avenir-Heavy;
    float: left;
    text-align: left;
	width: 100%;
    max-width: 130px;
}
.item-description .list-info li span:last-child{
	width: 100%;
    float: left;
    max-width: 130px;
}
.item-description .item-text{
	color: #fff;
    display: block;
    font-size: 14px;
    font-family: Avenir-Book;
	margin-bottom: 0;
}
.sub-heading{
    font-family: Avenir-Heavy;
    float: left;
    text-align: left;
    width: 100%;
    color: #fff;
    font-size: 14px;
}
.show-hide-script{
	position: absolute;
    right: 0;
    z-index: 6;
}

@media (max-width:480px){
.item-description .list-info li span:last-child{
	float: left;
}
.second-heading{
	font-size: 20px;
}
}

/*----7. Testing Script section-----*/
.script-info .carousel-control-next{
	width: 20px;
	height:21px;
    background: none;
    background-color: none;
    opacity: 1;
    top: 0px;
    z-index: 5;
    right: 3px;
}







/* ---------Attendees Screen------------------- */
.transparent-gray{
    background: rgba(62,62,62,0.5);
    position: relative;
    z-index: 3;
    border-radius: 10px;
    width: 100%;
    height: auto;
    padding: 20px 15px;
	    float: left;
}
.slide-right-left{
	-webkit-transition: width 600ms; 
  transition: width 600ms;
  padding: 20px 8px;
  float: right;
      position: relative;
    z-index: 4;
    overflow: hidden;
}
.v-logo img{
	width: 22px;
}
.fix-host{
	position:absolute !important;
	width: 100%;
    left: 0;
    top: 0;
	    object-fit: fill;
    height: 100%;
    min-height: 100%;
}
.fix-host div{
    height: 100%;
}
.overlay:before{
	content: '';
    background: url(../images/overlay.png);
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
	z-index: 1;
	background-size: cover;
    background-position: center;
}
.default-btns .btn img{
	width:20px;
}


/* right-sidebar */
.right-sidebar{
	
}
.show-everyone{
	display:block;
}
.right-sidebar .title{
	font-family: 'Avenir-Black';
    font-size: 16px;
    color: #fff;
    font-weight: normal;
    margin: 0;
}
.right-sidebar .title span {
    font-family: Avenir-Book;
}
.right-sidebar .head span.count {
    font-family: 'Avenir-Black';
    font-size: 16px;
    color: #fff;
    font-weight: normal;
    margin: 0;
}
.joined-attendees{
	    float: left;
    width: 100%;
    
}
.attendee-list{
	background: #000;
    border-radius: 10px;
    padding: 5px;
	float: left;
    width: 100%;
    margin: 1px 0;
	position:relative;
	-webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  transition: all 500ms ease;
}
.attendee-list>img{
	float: left;
    width: 46px;
    margin-right: 10px;
}
.attendee-list>span{
	color: #fff;
    font-family: Avenir-Medium;
    font-size: 14px;
    width: auto;
    float: left;

}
.attendee-list>span .fa{
	font-size: 14px;
}
.attendee-list>span>span{
	float: left;
    width: 100%;
    font-family: Avenir-Heavy;
    color: #9A9A9A;
    font-size: 13px;
}

/* item-description  */
.detail-model{
	background:#2B2B2B;
	border-radius:10px;
	padding:25px 30px !important;
}




/* footer */
.footer{
	position:relative;
}
.bottom-links li a{
	color: #fff;
    text-decoration: none;
    font-family: Avenir-Heavy;
    font-size: 14px;
}
.self-video{
    max-width: 100%;
}
.self-video video{
	width: 100%;
    border-radius: 10px;
}
.self-video1{
	position:absolute;
	bottom:0;
	right:8px;
	max-width:270px;
	display:block;
}
.self-video1 video{
	width: 100%;
    border-radius: 10px;
	
}















/* DEV CSS */
.video-streams video {position: relative !important;}
.video-streams>div{
	border-radius:10px;
}










