/* ------CSS Content------------------
	  1. Fonts
	  2. Reset CSS
	  3. Header
	  4. Attendees Section
	  5. Host Section
	  6. Item Description Section
		
----------------------------------*/


/* 1. Fonts */
@font-face {
	font-family: "Avenir-Black";
  src: url("../fonts/Avenir-Black.eot"); /* IE9 Compat Modes */
  src: url("../fonts/Avenir-Black.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../fonts/Avenir-Black.otf") format("opentype"), /* Open Type Font */
    url("../fonts/Avenir-Black.svg") format("svg"), /* Legacy iOS */
    url("../fonts/Avenir-Black.ttf") format("truetype"), /* Safari, Android, iOS */
    url("../fonts/Avenir-Black.woff") format("woff"), /* Modern Browsers */
    url("../fonts/Avenir-Black.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Avenir-Book";
  src: url("../fonts/Avenir-Book.eot"); /* IE9 Compat Modes */
  src: url("../fonts/Avenir-Book.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../fonts/Avenir-Book.otf") format("opentype"), /* Open Type Font */
    url("../fonts/Avenir-Book.svg") format("svg"), /* Legacy iOS */
    url("../fonts/Avenir-Book.ttf") format("truetype"), /* Safari, Android, iOS */
    url("../fonts/Avenir-Book.woff") format("woff"), /* Modern Browsers */
    url("../fonts/Avenir-Book.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Avenir-Medium";
  src: url("../fonts/Avenir-Medium.eot"); /* IE9 Compat Modes */
  src: url("../fonts/Avenir-Medium.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../fonts/Avenir-Medium.otf") format("opentype"), /* Open Type Font */
    url("../fonts/Avenir-Medium.svg") format("svg"), /* Legacy iOS */
    url("../fonts/Avenir-Medium.ttf") format("truetype"), /* Safari, Android, iOS */
    url("../fonts/Avenir-Medium-webfont.woff") format("woff"), /* Modern Browsers */
    url("../fonts/Avenir-Medium.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: "Avenir-Heavy";
  src: url("../fonts/Avenir-Heavy.eot"); /* IE9 Compat Modes */
  src: url("../fonts/Avenir-Heavy.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../fonts/Avenir-Heavy.otf") format("opentype"), /* Open Type Font */
    url("../fonts/Avenir-Heavy.svg") format("svg"), /* Legacy iOS */
    url("../fonts/Avenir-Heavy.ttf") format("truetype"), /* Safari, Android, iOS */
    url("../fonts/Avenir-Heavy.woff") format("woff"), /* Modern Browsers */
    url("../fonts/Avenir-Heavy.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}


/* 2. Reset CSS */
body{
	background:#000;
	padding: 0px;
	    position: relative;
}

.container{
	width:98% !important;
	max-width:98% !important;
}
.border-right {
    border-right: 1px solid #9b51e0 !important;
}
.border-left {
    border-left: 1px solid #9b51e0 !important;
}
.pr-20{
	padding-right:20px;
}
.btn-primary{
	background: #9b51e0;
    background-color: #9b51e0 !important;
	border-color: #9b51e0 !important;
	font-family: Avenir-Book;
    font-size: 14px;
	border-radius: 50px;
	padding:7px 20px;
}
img{
	max-width:100%;
}
a.bg-primary:hover, a.bg-primary:focus, button.bg-primary:hover, button.bg-primary:focus {
    background-color: #9b51e0 !important;
}
.btn-primary:hover {
    color: #fff;
    background-color: #9b51e0;
    border-color: #9b51e0;
}
.btn-primary:focus, .btn-primary.focus {
    box-shadow: none !important;
}
.btn-outline-secondary:not(:disabled):not(.disabled):active, .btn-outline-secondary:not(:disabled):not(.disabled).active, .show > .btn-outline-secondary.dropdown-toggle {
    color: #fff;
    background-color: #9b51e0;
    border-color: #9b51e0;
}
.btn-outline-secondary{
    color: #fff;
    border-color: #9b51e0;
    font-family: Avenir-Black;
    letter-spacing: 0.3px;
    font-size: 14px;
    border-radius: 50px;
}
.btn-outline-secondary:hover {
    color: #fff;
    background-color: #9b51e0;
    border-color: #9b51e0;
}
.btn-outline-secondary:not(:disabled):not(.disabled):active:focus, .btn-outline-secondary:not(:disabled):not(.disabled).active:focus, .show > .btn-outline-secondary.dropdown-toggle:focus {
    box-shadow: none;
}
.btn-outline-secondary:focus, .btn-outline-secondary.focus {
    box-shadow: none;
}
.bg-gray{
	background: #2F2F2F;
}
.rounded {
    border-radius: 10px !important;
}
.one-gutters {
    margin-right: 0;
    margin-left: 0;
}
.one-gutters > .col, 
.one-gutters > [class*="col-"] {
    padding: 1px;
}
.four-gutters {
    margin-right: -4px;
    margin-left: -4px;
}
.four-gutters > .col, 
.four-gutters > [class*="col-"] {
    padding-left: 4px;
    padding-right: 4px;
}
h3.main-heading{
	font-family: 'Avenir-Black';
	font-size: 25px;
    color: #fff;
	margin: 0;
}
h3.main-heading span{
    font-family: Avenir-Book;
    font-size: 20px;
    color: #D8D8D8;
}
.second-heading{
	font-family: Avenir-Heavy;
	font-size: 25px;
    color: #fff;
	margin: 0;
}
.zindex-5{
	z-index:5;
}
@media (max-width:768px){
	.mx-xs-auto{
		margin-left:auto !important;
		margin-right:auto !important;
	}
	.py-xs-1{
		padding-top:10px !important;
		padding-bottom:10px !important;
	}
}


/* 3. Header */
.logo img{
	width:65px;
}
.header{
    
    border-radius: 10px;
    width: 100%;
    height: auto;
    padding: 10px;
	position: relative;
    z-index: 3;
}


.time span{
	color:#fff;
	font-family: Avenir-Medium;
	font-size: 16px;
}
.time span:nth-child(1){
	border-right: 1px solid #9b51e0;
    padding-right: 20px;
}
.time span:nth-child(2){
	padding-left: 20px;
}
@media (max-width:900px){
.time span{
    width: 100%;
    display: block;
}
.time span:nth-child(1){
	border-right: 0;
    padding-right: 0px;
}
.time span:nth-child(2){
	padding-left: 0px;
}
}
.mic-icon{
	width:24px;
	    margin-left: 20px;
}


/* 4. Attendees Section */
.section.attendees .title{
    font-family: 'Avenir-Black';
    font-size: 16px;
    color: #fff;
    font-weight: normal;
    margin: 0;
}
.section.attendees .title  span{
    font-family: Avenir-Medium;
}
.video-holder{
	width: 100%;
	position:relative;
}
.video-holder video{
	width: 100%;
	    border-radius: 10px;
		    outline: 0;
}
.video-holder .hand-icon{
    background: url(../images/hand-icon.png);
    width: 52px;
    background-size: cover;
    height: 52px;
    float: left;
    top: 6px;
    left: 2px;
	cursor: pointer;
}
.video-holder .mute-icon{
    font-size: 16px;
    top: 10px;
    right: 10px;
    color: #fff;
    display: flex;
    text-decoration: none;
    background: #9b51e0;
    padding: 8px;
    border-radius: 55px;
	    width: 32px;
    height: 32px;
}

.video-holder .att-details{
	position: absolute;
    bottom: 0;
    background-image: linear-gradient(to bottom, rgba(255,255,255,0) , rgba(255,255,255,1));
    width: 100%;
    height: 60px;
	    border-radius: 0 0 7px 7px;
}
.video-holder .att-name{
    font-family: Avenir-Heavy;
    color: #000;
    font-size: 17px;
    position: absolute;
    bottom: 10px;
    left: 15px;
}
.vid-icons{
	position: absolute;
    right: 10px;
    bottom: 12px;
    display: none;
}
.video-holder .att-details .icon1, 
.attendee-list .icon1{
    background: #fff url(../images/icon1.png);
    width: 22px;
    height: 22px;
    background-size: 13px;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 20px;
    padding: 2px;
    float: left;
	cursor:pointer;
}
.video-holder .att-details .icon2, 
.attendee-list .icon2{
	background: #fff url(../images/icon2.png);
    width: 22px;
    height: 22px;
    background-size: 13px;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 20px;
    padding: 2px;
    float: left;
	    margin-left: 3px;
	cursor:pointer;
}


/* 5. Host Section */
.host-section video{
    width: 100%;
    border-radius: 10px;
}
.host-header>img{
	width: 25px;
    margin: 0 15px;
	cursor: pointer;
}

.next-btn{
	width:20px;
	float: right;
}


/* 6. Item Description Section */
.item-name{
	font-family: Avenir-Book;
	font-size:20px;
	color:#fff;
	margin:0;
}
.item-description .list-info{
    margin: 15px 0;
}
.item-description .list-info li{
    color: #fff;
    display: block;
    font-size: 14px;
    font-family: Avenir-Book;
    overflow: hidden;
    float: left;
    width: 100%;
	margin: 2px 0;
}

.item-description .list-info li span:first-child{
	font-family: Avenir-Heavy;
    float: left;
    text-align: left;
	width: 100%;
    max-width: 132px;
}
.item-description .list-info li span:last-child{
	width: 100%;
    float: left;
    max-width: 160px;
}
.item-description .item-text{
	color: #fff;
    display: block;
    font-size: 14px;
    font-family: Avenir-Book;
	margin-bottom: 0;
}
@media (max-width:480px){
	.item-description .list-info li span:last-child{
		float: left;
	}
	.second-heading{
		font-size: 20px;
	}
}


/* ---------Attendees Screen------------------- */
.transparent-gray{
    background: rgba(62,62,62,0.5);
    position: relative;
    z-index: 3;
    border-radius: 10px;
    width: 100%;
    height: auto;
    padding: 20px 15px;
	    float: left;
}
.slide-right-left{
	-webkit-transition: width 700ms; 
  transition: width 700ms;
  padding: 20px 8px;
  width:72px;
  float: right;
}
.v-logo img{
	width: 22px;
}
.fix-host{
	position:absolute !important;
	width: 100%;
    left: 0;
    top: 0;
	    object-fit: fill;
    height: 100%;
    min-height: 100%;
}
.fix-host div{
    height: 100%;
}
.overlay:before{
	content: '';
    background: radial-gradient(circle, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0.4) 51%, rgba(0,0,0,0.8) 100%);
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
	z-index: 1;
}
.default-btns .btn img{
	width:20px;
}


/* right-sidebar */
.right-sidebar{
	
}
.show-everyone{
	display:block;
}
.right-sidebar .title{
	font-family: 'Avenir-Black';
    font-size: 16px;
    color: #fff;
    font-weight: normal;
    margin: 0;
    display: none;
}
.right-sidebar .title span {
    font-family: Avenir-Book;
}
.right-sidebar .head span.count {
    font-family: 'Avenir-Black';
    font-size: 16px;
    color: #fff;
    font-weight: normal;
    margin: 0;
}
.joined-attendees{
	    float: left;
    width: 100%;
    margin-bottom: 15px;
}
.attendee-list{
	background: #000;
    border-radius: 10px;
    padding: 5px;
	float: left;
    width: 100%;
    margin: 1px 0;
	position:relative;
}
.attendee-list>img{
	float: left;
    width: 46px;
    margin-right: 10px;
}
.attendee-list>span{
	color: #fff;
    font-family: Avenir-Medium;
    font-size: 14px;
    width: auto;
    float: left;
	-webkit-transition: display 700ms; 
  transition: display 700ms;
  display: none;
}
.attendee-list>span .fa{
	font-size: 14px;
}
.attendee-list>span>span{
	float: left;
    width: 100%;
    font-family: Avenir-Heavy;
    color: #9A9A9A;
    font-size: 13px;
}





/* footer */
.footer{
	position:relative;
}
.bottom-links li a{
	color: #fff;
    text-decoration: none;
    font-family: Avenir-Heavy;
    font-size: 14px;
}
.self-video{
    max-width: 100%;
}
.self-video video{
	width: 100%;
    border-radius: 10px;
}
.self-video1{
	position:absolute;
	bottom:0;
	right:8px;
	max-width:240px;
	display:block;
}
.self-video1 video{
	width: 100%;
    border-radius: 10px;
	
}















/* DEV CSS */
.video-streams video {position: relative !important;}











