/* ------CSS Content------------------
	  1. Fonts
	  2. Reset CSS
	  3. Header
	  4. Attendees Section
	  5. Host Section
	  6. Item Description Section
		
----------------------------------*/


/* 1. Fonts */
@font-face {
  font-family: Avenir-Black;
  src: url('../fonts/Avenir-Black.ttf')  format('truetype');
}
@font-face {
  font-family: Avenir-Book;
  src: url('../fonts/Avenir-Book.ttf')  format('truetype');
}
@font-face {
  font-family: Avenir-Medium;
  src: url('../fonts/Avenir-Medium.ttf')  format('truetype');
}
@font-face {
  font-family: Avenir-Heavy;
  src: url('../fonts/Avenir-Heavy.ttf')  format('truetype');
}


/* 2. Reset CSS */
body{
	background:#000;
	padding: 20px;
}
.border-right {
    border-right: 1px solid #9b51e0 !important;
}
.border-left {
    border-left: 1px solid #9b51e0 !important;
}
.pr-20{
	padding-right:20px;
}
.btn-primary{
	background: #9b51e0;
    background-color: #9b51e0 !important;
	border-color: #9b51e0 !important;
	font-family: Avenir-Book;
    font-size: 16px;
	border-radius: 50px;
}
img{
	max-width:100%;
}
a.bg-primary:hover, a.bg-primary:focus, button.bg-primary:hover, button.bg-primary:focus {
    background-color: #9b51e0 !important;
}
.btn-primary:hover {
    color: #fff;
    background-color: #9b51e0;
    border-color: #9b51e0;
}
.btn-primary:focus, .btn-primary.focus {
    box-shadow: none !important;
}
.btn-outline-secondary:not(:disabled):not(.disabled):active, .btn-outline-secondary:not(:disabled):not(.disabled).active, .show > .btn-outline-secondary.dropdown-toggle {
    color: #fff;
    background-color: #9b51e0;
    border-color: #9b51e0;
}
.btn-outline-secondary{
    color: #fff;
    border-color: #9b51e0;
    font-family: Avenir-Black;
    font-size: 16px;
    border-radius: 50px;
}
.btn-outline-secondary:hover {
    color: #fff;
    background-color: #9b51e0;
    border-color: #9b51e0;
}
.btn-outline-secondary:not(:disabled):not(.disabled):active:focus, .btn-outline-secondary:not(:disabled):not(.disabled).active:focus, .show > .btn-outline-secondary.dropdown-toggle:focus {
    box-shadow: none;
}
.btn-outline-secondary:focus, .btn-outline-secondary.focus {
    box-shadow: none;
}
.bg-gray{
	background: #2F2F2F;
}
.rounded {
    border-radius: 10px !important;
}
.one-gutters {
    margin-right: 0;
    margin-left: 0;
}
.one-gutters > .col, 
.one-gutters > [class*="col-"] {
    padding: 1px;
}
.four-gutters {
    margin-right: -4px;
    margin-left: -4px;
}
.four-gutters > .col, 
.four-gutters > [class*="col-"] {
    padding-left: 4px;
    padding-right: 4px;
}
h3.main-heading{
	font-family: Avenir-Black;
	font-size: 30px;
    color: #fff;
	margin: 0;
}
h3.main-heading span{
    font-family: Avenir-Book;
    font-size: 24px;
    color: #D8D8D8;
}


/* 3. Header */
.logo img{
	width:75px;
}
.header{
    
    border-radius: 10px;
    width: 100%;
    height: auto;
    padding: 10px;
}


.time span{
	color:#fff;
	font-family: Avenir-Medium;
	font-size: 18px;
}
.time span:nth-child(1){
	border-right: 1px solid #9b51e0;
    padding-right: 20px;
}
.time span:nth-child(2){
	padding-left: 20px;
}
.mic-icon{
	width:28px;
	    margin-left: 20px;
}


/* 4. Attendees Section */
.section.attendees .title{
    font-family: Avenir-Black;
    font-size: 18px;
    color: #fff;
    font-weight: normal;
    margin: 0;
}
.section.attendees .title  span{
    font-family: Avenir-Medium;
}
.video-holder{
	width: 100%;
	position:relative;
}
.video-holder img{
	width: 100%;
}
.video-holder .hand-icon{
    background: url(../images/hand-icon.png);
    width: 52px;
    background-size: cover;
    height: 52px;
    float: left;
    top: 6px;
    left: 2px;
	cursor: pointer;
}
.video-holder .mute-icon{
	
}
.video-holder .att-details{
	position: absolute;
    bottom: 0;
    background-image: linear-gradient(to bottom, rgba(255,255,255,0) , rgba(255,255,255,1));
    width: 100%;
    height: 60px;
	    border-radius: 0 0 7px 7px;
}
.video-holder .att-name{
	font-family: Avenir-Heavy;
    color: #000;
    font-size: 20px;
	position:absolute;
	bottom:5px;
	left:10px;
}
.video-holder .att-details .icon1{
    background: #fff url(../images/icon1.png);
    width: 22px;
    height: 22px;
    background-size: 13px;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 20px;
    position: absolute;
    right: 10px;
    bottom: 12px;
    padding: 2px;
    float: left;
	cursor:pointer;
}
.video-holder .att-details .icon2{
	background: #fff url(../images/icon2.png);
    width: 22px;
    height: 22px;
    background-size: 13px;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 20px;
    position: absolute;
    right: 40px;
    bottom: 12px;
    padding: 2px;
    float: left;
	cursor:pointer;
}


/* 5. Host Section */
.host-section{
	
}
.host-header>img{
	width: 30px;
    margin: 0 10px;
	cursor: pointer;
}

.next-btn{
	width:20px;
	float: right;
}


/* 6. Item Description Section */
.item-name{
	font-family: Avenir-Book;
	font-size:24px;
	color:#fff;
	margin:0;
}
.item-description .list-info{
    margin: 15px 0;
}
.item-description .list-info li{
    color: #fff;
    display: block;
    font-size: 16px;
    font-family: Avenir-Book;
    overflow: hidden;
    float: left;
    width: 100%;
	margin: 2px 0;
}
.item-description .list-info li span:first-child{
	font-family: Avenir-Heavy;
    float: left;
    text-align: left;
}
.item-description .list-info li span:last-child{
	float: right;
}
.item-description .item-text{
	color: #fff;
    display: block;
    font-size: 16px;
    font-family: Avenir-Book;
	margin-bottom: 0;
}



/* ---------Attendees Screen------------------- */
.trp-gray{
	
}
.v-logo img{
	width: 32px;
}
.fix-host{
	position:absolute;
	width: 100%;
    left: 0;
    top: 0;
}

.video-streams video{position: relative !important;}



